
@import "slider";
.s-content, h1, p, .format-quote blockquote p, .format-link .link-wrap p, .format-quote blockquote p, .format-link .link-wrap cite,  .entry__thumb {
    font-family: "Droid Arabic Kufi";
}

.btn--stroke, button.btn--stroke {
    letter-spacing: normal;
    font-family: "Droid Arabic Kufi", Arial;
}


.format-quote .entry__thumb::before, .format-link .entry__thumb::before {
    content: "";
    display: none;
    margin-bottom: 1.5rem;
    top: 0rem;
    position: absolute;
    left: 50%;
}

.s-content__header h1 {
    color: #021f3f;
    text-transform: capitalize;
    font-size: 4rem;
}

.s-content__header p {
    color: #152f5c;
    text-transform: capitalize;
    font-size: 1rem;
}
