
body {
    background: url("../images/hero-bg.jpg");
    background-position: center center;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .custom-main{
        padding-top: 20vh;
    }
}


// dropdown
select#dropdown-c {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-family: 'Lato', Arial;

    option {
        text-align: center;
        font-family: 'Lato', Arial;
    }
}



@media screen and (max-width: 500px) {
    select#dropdown-c {
        width: 100%;
    }
}
