@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);


body {
    font-family: "Droid Arabic Kufi", Arial;
    letter-spacing: normal;
}

.header__nav li > a{
    font-family: "Droid Arabic Kufi";
}
